<!doctype html>
<html lang="it">
<head>
	<title>DIAG</title>
	<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  
        width: 40%;  
	float:left;
	left:100px;
       }
      #specifics {
        height: 50px;  
        width: 40%;  
	float:right;
	position:absolute;
	top:175px;
	left:725px;
       }
      h1 {
	text-align: center;
      }
      </style>
</head>
<b>
	<b>Hello, <span th:text="${name}">user</span>!</b>
	<br>
	<h1>Dipartimento di ingegneria informatica e automatica 'Antonio Ruberti'</h1>
	<br>
	
	<div id="map">
	
	<script>
	// Initialize and add the map
	function initMap() {
  		// The location of Diag
  		var diag = {lat: 41.89, lng: 12.503};
  		// The map, centered at Diag
  		var map = new google.maps.Map(
      		document.getElementById('map'), {zoom: 17, center: diag});
  		// The marker, positioned at Uluru
  		var marker = new google.maps.Marker({position: diag, map: map});
	}
	</script>
	<!--Load the API from the specified URL
	* The async attribute allows the browser to render the page while the API loads
	* The key parameter will contain your own API key (which is not needed for this tutorial)
	* The callback parameter executes the initMap() function
	-->
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB368qVPwB8e9RmEjrYNAh40q9EfD6m8DY&callback=initMap">
	</script>
	</div>

	<div id="specifics">
	<br><br>
	<h2> Indirizzo: via Ariosto 25 </h2>  
	<h2> Aria Condizionata: si </h2>
	<h2> Prese: si </h2>
	<h2> WiFi: si </h2>
	<br>
	</div>

</body>
</html>

